*{
    margin:0px;
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
header{
    background-color: #111111;
    padding: 30px;
    text-align: center;

}
header h1{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
nav{
    padding: 20px;
}
nav ul{
list-style-type: none;
text-align:center;
}
nav ul li{
display: inline;
}
nav li a{
text-decoration: none;
margin: 0px 20px;
color: #000;
font-weight: 500;
text-transform: uppercase;
}
nav li a:hover{
    color:#888;
}
.home{
    background-image: url("images/bg-1.jpg");
    color: #fff;
    padding:30px;
    background-position: center;
    background-size: cover;

}
.home__content{
color: rgba(0,0,0,0.5);
padding:30px;
color:#fff;
text-align: center;
}
.home__content h2{
font-weight: 300;
margin-bottom: 30px;
font-size: 50px;
}
.home__content h4{

font-weight: 300;
font-size: 38px;
margin-bottom: 15px;
}

.skills{
    background-image: url("images/code1.jpg");
    color: #fff;
    padding:30px;
    background-position: center;
    background-size: cover;
}
.skills h3{
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 38px;
}
.skills__content {
  background: rgba(255,255,255,0.3); 
  border-radius: 12px; 
  padding-top: 20px;
  text-align: center;
}
.skills__content img{
   object-fit: contain; 
   width:100%;
   max-width: 700px;
 }
 .aboutme{
  background-image: url("images/about.jpg");
  padding: 30px;
  background-position: center;
  background-size: cover;   
 }
 .aboutme h3{
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 38px;
}
 .aboutme__content{
     color: #fff;
     padding-bottom: 20px;
     background:rgba(0,0,0,0.7);
 }
 
 
 .aboutme__content p{ 
     line-height: 25px;
     margin: 10px;
 }
 .contact{
    background-image: url("images/contact.jpg");
    padding: 30px;
    background-position: center;
    background-size: cover;   
   }
   .contact h3{
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 38px;

}

.contact__content{
    color: #fff;
    padding-bottom: 20px;
    background:rgba(0,0,0,0.7);
}

   footer{
       text-align: center;
       background:#111;
       color: #fff;
       padding: 20px;
   }
   .contact__form{
    padding:20px ;  
    text-align: center; 
   }
   .contact__form input{
       border: 1px solid #dfdfdf;
       border-radius: 3px;
       font-size: 15px;
       width: 50%;
       padding: 8px;
       margin-bottom: 15px;
   }
   .contact__form button{
       padding:8px 15px ;
       font-size: 14px;
       border-radius: 4px;
       border: none;
       cursor: pointer;
   }
   .contact__form button:hover{
       color: tomato;
   }
